<form
  class="form-horizontal"
  autocomplete="off"
  #createEditCustomerModal="ngForm"
  (ngSubmit)="saveCustomer()"
>
  <abp-modal-header
    [title]="'Create/Edit Customer' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <tabset>
      <tab [heading]="'Customer Details' | localize" class="pt-3 px-2">
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="customerName">
            {{ "CustomerName" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="customerName"
              id="customerName"
              required
              maxlength="32"
              [(ngModel)]="customers.name"
              #customerNameModel="ngModel"
              #customerNameEl
            />
          </div>
        </div>
      </tab>
    </tabset>
        <abp-validation-summary 
        [control]="customerNameModel"
        [controlEl]="customerNameEl">          
        </abp-validation-summary>
  </div>
        <label class="col-md-3 col-form-label" for="divisionName">
          {{ "Division" | localize }}
        </label>
  <div class="col-md-9" style="display: inline-flex;">
    <select 
    [ngModel]="selectDivisionId"
    (ngModelChange)="selectDivisionId=$event" 
    name="division" id="division" required style="width: 570px; height: 40px; border-radius: 5px;" data-live-search="true">
      <option *ngFor="let division of divisions" [ngValue]="division.id">
        {{ division.name }}
      </option>
    </select>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createEditCustomerModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
