<form
  class="form-horizontal"
  autocomplete="off"
  #createEditCategoryModal="ngForm"
  (ngSubmit)="saveCategory()"
>
  <abp-modal-header
    [title]="'Create or edit category' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="name">
            {{ "Name" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="name"
              id="name"
              required
              maxlength="32"
              [(ngModel)]="category.name"
              #nameModel="ngModel"
              #nameEl
            />
          </div>
        </div>
        <abp-validation-summary
        [control]="nameModel"
        [controlEl]="nameEl">
      </abp-validation-summary>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createEditCategoryModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
