<!-- <div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <section class="content px-2">
                    <div class="card-group card-columns p-1">
                        <div class="row">
                            <div class="col p-3">
                                <div class="card text-center" style="width: 18rem; padding: 02.5m;"
                                    *ngFor="let food of foods 
                                        | paginate : { 
                                                id: 'server', 
                                                itemsPerPage: pageSize, 
                                                currentPage: pageNumber,  
                                                totalItems: totalItems 
                                                    }">
                                    <img [src]="'data:' + food.imageName + ';base64,' + food.image" 
                                            class="card-img-top" 
                                            width="300px" 
                                            height="300px">
                                        <div class="card-body">
                                            <p class="card-text" style="font-size: larger; font-style: oblique;">
                                                {{ food.name }}
                                            </p>
                                                <div class="card-body">
                                                    <p class="card-text">
                                                        ₱{{ food.price }}<br>{{ food.category?.name }}
                                                    </p>
                                                </div>
                                                <div class="col-md-9 mx-auto">
                                                    <select name="size"
                                                            id="size"
                                                            class="form-control text-center"
                                                            [(ngModel)]="food.size">
                                                                <option value="Small">Small</option>
                                                                <option value="Medium">Medium</option>
                                                                <option value="Large">Large</option>
                                                    </select><br>
                                                    <div class="d-grid">
                                                        <div class="input-group">
                                                            <button type="button" 
                                                                    class="btn btn-icon btn-light" 
                                                                    aria-describedby="inputQuantitySelector" 
                                                                    data-bs-step="down">
                                                                <span class="visually-hidden">-</span>
                                                            </button>
                                                                <input type="number" 
                                                                        id="quantity" 
                                                                        class="form-control text-center" 
                                                                        value="1"
                                                                >
                                                            <button type="button" 
                                                                    class="btn btn-icon btn-light" 
                                                                    aria-describedby="inputQuantitySelector" 
                                                                    data-bs-step="up">
                                                                <span class="visually-hidden">+</span>
                                                            </button>
                                                        </div>
                                                    </div><br>
                                                    <div class="d-grid">
                                                        <button type="button" class="btn btn-info form-control">
                                                            <i class="fa fa-cart-plus"></i>
                                                        </button>
                                                    </div>
                                                    <div>

                                                    </div>
                                                </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>
        </div>
    </section>
</div> -->

<section class="content px-2">
    <div class="container-fluid">
        <div class="wrap">
          <div class="box" *ngFor="
          let food of foods
            | paginate
              : {
                  id: 'server',
                  itemsPerPage: pageSize,
                  currentPage: pageNumber,
                  totalItems: totalItems
                }
        ">
              <div
                class="box-top"        
              >
                <img
                  [src]="'data:' + food.imageName + ';base64,' + food.image"
                  class="box-image"
                />
                <div class="title-flex">
                  <h3 class="box-title">{{ food.name }}</h3>
                  <h4 class="box-title">₱{{ food.price }}</h4>
                  <p class="user-follow-info">{{ food.category?.name }}</p>
                </div>
                <div class="d-grid">
                  <select name="size"
                          id="size"
                          class="form-control text-center"
                          [(ngModel)]="food.size">
                              <option value="Small">Small</option>
                              <option value="Medium">Medium</option>
                              <option value="Large">Large</option>
                  </select>
                </div>
                <div class="d-grid">
                  <input type="number"
                          id="quantity"
                          class="form-control text-center"
                          value="1"
                  >
                </div>
                <a href="#" class="button">Add to Cart</a>
              </div>
            </div>
        </div>
      </div>
</section>
