<section class="content px-2">
    <div class="container-fluid">
        <div class="wrap">
          <div class="box" *ngFor="
          let food of foods
            | paginate
              : {
                  id: 'server',
                  itemsPerPage: pageSize,
                  currentPage: pageNumber,
                  totalItems: totalItems
                }
        ">
              <div
                class="box-top"   
              >
                <img
                  [src]="'data:' + food.imageName + ';base64,' + food.image"
                  class="box-image"
                />
                <div class="title-flex">
                  <h3 class="box-title">{{ food.name }}</h3>
                  <h4 class="box-title">₱{{ food.price }}</h4>
                  <p class="user-follow-info">{{ food.category?.name }}</p>
                </div>
                <div class="d-grid">
                  <select name="size"
                          id="size"
                          class="form-control text-center"
                          [ngModel]="food.size"
                          (ngModelChange)="fixedSize=$event">
                          <option *ngFor="let order of foodProportions" [ngValue]="order">
                            {{order}}
                          </option>

                  </select>
                </div>
                <div class="d-grid">
                  <input type="number"
                          id="quantity"
                          class="form-control text-center"
                          value="1"
                          min="0"
                  >
                </div>
                <a href="javascript:;" class="button" (click)="addToCart(food.id)">
                  <i class="fa fa-shopping-cart"></i>
                </a>
              </div>
            </div>
        </div>
      </div>
</section>

