<form
    class="form-horizontal"
    autocomplete="=off"
    #editCustomerModal="ngForm"
    (ngSubmit)="save()"
>
    <abp-modal-header
    [title]="'Edit customer name' | localize"
    (onCloseClick)="bsModalRef.hide()"
    >
    </abp-modal-header>
    <div class="modal-body">
                <div class="form-group">
                    <label class="col-md-3 col-form-label" for="name">
                        {{ "Name:" | localize }}
                    </label>
                    <div class="col-md-5">
                        <input
                            type="text"
                            class="form-control"
                            name="name"
                            id="name"
                            maxlength="32"
                            [(ngModel)]="customer.name"
                            #nameModel="ngModel"
                            #nameE1
                            />
                    </div>
                </div>
    </div> 
    <abp-modal-footer
        [cancelDisabled]="saving"
        [saveDisabled]="!editCustomerModal.form.valid || saving"
        (onCancelClick)="bsModalRef.hide()"
    ></abp-modal-footer>
</form>