<div [@routerTransition]>
    <section class="content-header">
        <!-- <div class="card text-center">
            <div class="card-header">
                <h1>{{ "ViewDetails" | localize }}</h1>
            </div>
        </div> -->
    </section>

    <section class="content px-2">
        <div class="container-fluid">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6" *ngIf="food.image">
                        <img class="img-sm" [src]="'data:' + food.imageFileType + ';base64,' + food.image">
                    </div>
                    <div class="col-md-6">
                        <h2>{{ food.name }}</h2>
                        <p class="category">{{ food.category?.name }}</p>
                        <p class="price">₱{{ food.price }}</p>
                        <button class="btn-success btn-lg" type="submit" name="addToCart" (click)="addToCart(food.id)">Add To Cart</button>
                    </div>
                    <label>Quantity</label>
                    <input type="number" class="form-control" id="qty" name="qty" value="1" min="1" max={{food.quantity}} [(ngModel)]="setOrderQuantity">
                    <label>Size</label>
                    <select class="form-control" name="size" id="size" [ngModel]="setOrderSize" (ngModelChange)="setOrderSize=$event">
                        <ng-container *ngFor="let food of foodProportions">
                            <option>{{food}}</option>
                        </ng-container>
                    </select>
                    <label>Notes</label>
                    <textarea class="form-control" [(ngModel)]="keyNotes" placeholder="(e.g extra utensils)"></textarea>
                </div>
            </div>
        </div>
    </section>
</div>