<form
  class="form-horizontal"
  autocomplete="off"
  #createEditDivisionModal="ngForm"
  (ngSubmit)="saveDivision()"
>
  <abp-modal-header *ngIf="checkUpdate==false"
    [title]="'CreateDivision' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <abp-modal-header *ngIf="checkUpdate==true"
    [title]="'EditDivision' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="name">
            {{ "Name" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="name"
              id="name"
              required
              maxlength="32"
              [(ngModel)]="division.name"
              #nameModel="ngModel"
              #nameEl
            />
          </div>
        </div>
        <abp-validation-summary 
        [control]="nameModel"
        [controlEl]="nameEl">          
        </abp-validation-summary>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createEditDivisionModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>